h1 {
    color: rgb(11, 10, 12);
    text-align: center;
    transition: 0.5s ease;

}
h1:hover{
  background-color: rgb(225, 138, 245); 
}
/* тут міняєш колір */


.box {
    background-color: rgba(255, 255, 255, 0.925); /* Жовтий напівпрозорий фон для заголовка */
  }
  .box1 {
    background-color: #f2b885;
  }
  p{
	font-size: 18 px;
	line-height: 1.4;
	margin-top: 0.1em;
	margin-bottom: 0;
	color: #110a06;
  }
  footer{
	background-color:rgba(255, 255, 255, 0.925);
	color: #421320;
	padding: 20 px 0;
	margin-top: 30 px;
}
.img1{
	width: 370px;
  height: 300px;
	/*transform: scale(0.95); transition: .3s;*/
	/*max-width: 35%;*/
  padding: 20px;
  margin: 20px;
	
}
body {
    background-color: #e9e570;
  }
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    margin-right: 10px;
  }

